<?xml version="1.0" encoding="UTF-8"?>
<!--============================================================ Deployment 
	Descriptor: web.xml ============================================================= -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="SummaryTask4_ID" version="2.5">
  <display-name>SummaryTask4</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>ua.nure.rataichuk.SummaryTask4.controller.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>ua.nure.rataichuk.SummaryTask4.controller.Logout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateEntrant</servlet-name>
    <servlet-class>ua.nure.rataichuk.SummaryTask4.controller.CreateEntrant</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateUser</servlet-name>
    <servlet-class>ua.nure.rataichuk.SummaryTask4.controller.CreateUser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateSubject</servlet-name>
    <servlet-class>ua.nure.rataichuk.SummaryTask4.controller.CreateSubject</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateFaculty</servlet-name>
    <servlet-class>ua.nure.rataichuk.SummaryTask4.controller.CreateFaculty</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangeLang</servlet-name>
    <servlet-class>ua.nure.rataichuk.SummaryTask4.controller.ChangeLang</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateFaculty</servlet-name>
    <servlet-class>ua.nure.rataichuk.SummaryTask4.controller.UpdateFaculty</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateEntrant</servlet-name>
    <servlet-class>ua.nure.rataichuk.SummaryTask4.controller.UpdateEntrant</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteFaculty</servlet-name>
    <servlet-class>ua.nure.rataichuk.SummaryTask4.controller.DeleteFaculty</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteRegistration</servlet-name>
    <servlet-class>ua.nure.rataichuk.SummaryTask4.controller.DeleteRegistration</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ResetRegistration</servlet-name>
    <servlet-class>ua.nure.rataichuk.SummaryTask4.controller.ResetRegistration</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckRegistration</servlet-name>
    <servlet-class>ua.nure.rataichuk.SummaryTask4.controller.CheckRegistration</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ConfirmFinalRegistration</servlet-name>
    <servlet-class>ua.nure.rataichuk.SummaryTask4.controller.ConfirmFinalRegistration</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SelectFaculty</servlet-name>
    <servlet-class>ua.nure.rataichuk.SummaryTask4.controller.SelectFaculty</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>ua.nure.rataichuk.SummaryTask4.controller.Register</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MakeReport</servlet-name>
    <servlet-class>ua.nure.rataichuk.SummaryTask4.controller.MakeReport</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BlockEntrant</servlet-name>
    <servlet-class>ua.nure.rataichuk.SummaryTask4.controller.BlockEntrant</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SortFacultys</servlet-name>
    <servlet-class>ua.nure.rataichuk.SummaryTask4.controller.SortFacultys</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadFile</servlet-name>
    <servlet-class>ua.nure.rataichuk.SummaryTask4.controller.UploadFile</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RemindPassword</servlet-name>
    <servlet-class>ua.nure.rataichuk.SummaryTask4.controller.RemindPassword</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SendMessage</servlet-name>
    <servlet-class>ua.nure.rataichuk.SummaryTask4.controller.SendMessage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PageSelect</servlet-name>
    <servlet-class>ua.nure.rataichuk.SummaryTask4.controller.PageSelect</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaveReport</servlet-name>
    <servlet-class>ua.nure.rataichuk.SummaryTask4.controller.SaveReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateEntrant</servlet-name>
    <url-pattern>/CreateEntrant</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateUser</servlet-name>
    <url-pattern>/CreateUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateSubject</servlet-name>
    <url-pattern>/CreateSubject</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateFaculty</servlet-name>
    <url-pattern>/CreateFaculty</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeLang</servlet-name>
    <url-pattern>/ChangeLang</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateFaculty</servlet-name>
    <url-pattern>/UpdateFaculty</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateEntrant</servlet-name>
    <url-pattern>/UpdateEntrant</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteFaculty</servlet-name>
    <url-pattern>/DeleteFaculty</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteRegistration</servlet-name>
    <url-pattern>/DeleteRegistration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResetRegistration</servlet-name>
    <url-pattern>/ResetRegistration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckRegistration</servlet-name>
    <url-pattern>/CheckRegistration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ConfirmFinalRegistration</servlet-name>
    <url-pattern>/ConfirmFinalRegistration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectFaculty</servlet-name>
    <url-pattern>/SelectFaculty</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MakeReport</servlet-name>
    <url-pattern>/MakeReport</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BlockEntrant</servlet-name>
    <url-pattern>/BlockEntrant</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SortFacultys</servlet-name>
    <url-pattern>/SortFacultys</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadFile</servlet-name>
    <url-pattern>/UploadFile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemindPassword</servlet-name>
    <url-pattern>/RemindPassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SendMessage</servlet-name>
    <url-pattern>/SendMessage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PageSelect</servlet-name>
    <url-pattern>/PageSelect</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveReport</servlet-name>
    <url-pattern>/SaveReport</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>ua.nure.rataichuk.SummaryTask4.filters.Encoding</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>LangFilter</filter-name>
    <filter-class>ua.nure.rataichuk.SummaryTask4.filters.Lang</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LangFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>ua.nure.rataichuk.SummaryTask4.listener.ContextListener</listener-class>
  </listener>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/WEB-INF/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/error.jsp</location>
  </error-page>
  <resource-ref>
    <res-ref-name>jdbc/SummaryTask4</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
</web-app>